
params {
	analysis_dir = "./analysis_dir"
	quantificationsoutdir = "$analysis_dir/quants_dir/"
	qcoutdir = "$analysis_dir/qc_dir/"
	samplesheet = "$analysis_dir/SampleSheet.all_plates.unix.csv"
	reads='./Reads'
	
	mtnamefile='./Databases/scqc/Bos_taurus/ARS-UCD1.2/MT_cow_vector.rds'
	species='Bos_taurus_with_TParva'
	idx='./Databases/scqc/Bos_taurus.with.Theileria_theileria_parva/ARS-UCD1.2.and.PiroplasmaDB-55/Bos_taurus.ARS-UCD1.2.with.PiroplasmaDB-55_TparvaMuguga.kallisto.idx'
	trans2gen_tsv='./Databases/scqc/Bos_taurus.with.Theileria_theileria_parva/ARS-UCD1.2.and.PiroplasmaDB-55/Bos_taurus.ARS-UCD1.2.with.PiroplasmaDB-55_TparvaMuguga.transcript_to_gene_mapping.tsv'

	pattern='?*_R{1,2}'
	plate_ids=['CUB35DAY0','CUB35DAY7','CUB37DAY0','CUB37DAY7']
	// RScript_dir="./development/lany/git/singlecellQC/main_dev_branch/Scripts/"
	RScript_dir="./common/Scripts/singlecellQC/v1.1/Scripts/"
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
	name='slurm'
	queueSize=300
	pollInterval='5 min'
	queueStatInterval='8 min'
	exitReadTimeout='5 min'
	dumpInterval='10 min'
}


process {
	queue='ei-cb'
	memory='5G'
	time='1h'
	cpus = 1

	withLabel:image_rknit {
        container = "./common/Scripts/singlecellQC/v1.1/Containers/rknitr.img"
    }
    withLabel:image_rscater {
        container = "./common/Scripts/singlecellQC/v1.1/Containers/rscater.img"
    }
    
	withName: qc {
		memory='20G'
		time='2h'
	}
	withName: tx2g {
		queue='ei-medium'
		memory='30G'
		time='2h'
	}
	withName: quantification {
		queue='ei-medium'
		memory='10G'
		time='2h'
		cpus=2
	}
	withName: doc {
		queue='ei-medium'
		memory='20G'
		time='1h'
	}
}

timeline {
  enabled = true
  overwrite = true
}
report {
  enabled = true
  overwrite = true
}
trace {
  enabled = true
  overwrite = true
}

