
params.quantificationsoutdir = '/ei/cb/development/lany/git/singlecellQC/PIP-3144/Analysis/scqc_reqs-1.0/quants_dir/'
params.qcoutdir='/ei/cb/development/lany/git/singlecellQC/PIP-3144/Analysis/scqc_reqs-1.0/qc_dir/'
params.reads='/ei/cb/development/lany/git/singlecellQC/PIP-3144/Reads'

params.mtnamefile='/ei/cb/common/Databases/scqc/Bos_taurus/ARS-UCD1.2/MT_cow_vector.rds'
params.species='Bos_taurus_with_TParva'
params.idx='/ei/cb/common/Databases/scqc/Bos_taurus.with.Theileria_theileria_parva/ARS-UCD1.2.and.PiroplasmaDB-55/Bos_taurus.ARS-UCD1.2.with.PiroplasmaDB-55_TparvaMuguga.kallisto.idx'
params.biomartdb='/ei/cb/common/Databases/scqc/Bos_taurus.with.Theileria_theileria_parva/ARS-UCD1.2.and.PiroplasmaDB-55/Bos_taurus.ARS-UCD1.2.with.PiroplasmaDB-55_TparvaMuguga.transcript_to_gene_mapping.tsv'

params.samplesheet='/ei/cb/development/lany/git/singlecellQC/main_dev_branch/SampleSheetPIP-3144.csv'
params.pattern='?*_R{1,2}'
params.plate_ids=['309236Day0', '309236Day7', '609232Day0', '609232Day7']

process.executor='slurm'
process.queue='ei-cb'
process.memory='5G'
process.time='1h'

executor.queueSize=200
executor.pollInterval='5 min'
executor.queueStatInterval='8 min'
executor.exitReadTimeout='5 min'
executor.dumpInterval='10 min'
