

params.quantificationsoutdir = '/ei/scratch/uzun/test_ppbfx775/'
params.qcoutdir='/ei/scratch/uzun/test_qc_ppbfx775/'
params.reads='/ei/data/reads/PIP-2406/190909_A00478_0067_AHFTY3DRXX'
params.mtnamefile=''
params.idx='/ei/workarea/group-ga/uzun/scqc/References/human_w_ercc.idx'
params.samplesheet='/ei/workarea/group-ga/uzun/scqc/SmartSeq2_test4_details.csv'
params.pattern='?*_R{1,2}'
params.plate_ids=['V1a','V2a','H2a','H2b']

process.executor='slurm'
process.queue='ei-medium'
process.memory='32G'
process.time='3h'

executor.queueSize=200

