

params.quantificationsoutdir = '/ei/scratch/uzun/test_sheet/'
params.qcoutdir='/ei/scratch/uzun/qctemp/'
params.reads='/ei/workarea/group-pb/CB-PPBFX-771_Assessment_of_SmartSeq2_pool_A06504_2_on_NVS300SP_PIP-2386/Reads/190718_A00478_0056_AHCHVHDRXX/'
params.plate_info=2
params.mtnamefile=''
params.idx='/ei/workarea/group-pb/CB-PPBFX-751_Assessment_of_SmartSeq2_pool_IPO5217_PIP-2297/Scripts/human_w_ercc.idx'
params.samplesheet='/hpc-home/uzun/docs/SmartSeq2_test3_details.csv'
params.pattern='?*_2V2a*_R{1,2}'

process.executor='slurm'
process.queue='ei-medium'
process.memory='32G'
process.time='3h'

process {
	withName: extension { memory = 64.GB }
	withName: mkref { memory = 128.GB }
	withName: recount {
		memory = 64.GB
		cpus = 2
	}
}
